.Audrey{
background-color: tan;
text-align: center;
font-family: 'Merriweather', serif;
}

.TaChan{
    text-align: center;
    font-style: oblique;
    color: turquoise;
}

.Paing{
   text-align: center;
   font-style: oblique;
   color: skyblue;
   margin: 95px;
}
 .review{
     font-style: normal;
     color: rosybrown;
 }
 .image{
     background-attachment: fixed;
     background-color: thistle;
     padding-left: 90px;
     
 }
.wattpad{
    
    border:orange; border-width:5px; border-style:solid;
    text-align: center;
    background-attachment: fixed;
    background-color: burlywood;
    font-size: 40px;
    
}
.ficlink{
    background-attachment: fixed;
    background-color: burlywood;
    text-align: center;
}

.version{
    color: cadetblue;
    padding-right: 30px;
}
.special{
    vertical-align: middle;
    padding-right: 30px;
    color: cadetblue;
     margin-bottom: 50px;
}

.book{
    background-attachment: fixed;
    background-color: lavenderblush;
    margin-bottom: 50px;
}
.song{
    padding-left: 140px;
    margin-bottom: 50px;
}
.name{
    color: cornflowerblue;
    text-align: center;
}

.extra{
    padding-left: 70px;
}

.page{
    font-size: 25px;

}
.pagelink{
    border:blue; border-width:5px; border-style:solid;
}
.pagelink{
    background-attachment: fixed;
    background-color: deepskyblue;
}
.ending{
    background-attachment: fixed;
    background-color: tan;
    font-size: 26px;
    font-style: unset;
    text-align: center;
}
 
.ALL{
    text-align: center;
}
